{% extends 'base.html' %}

{% block content %}
<div class="container">
</br>
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == "success" %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" >  
          <div>
            <svg class="bi flex-shrink-0 me-2" width="32" height="32" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      {% endif %}
      {% if message.tags == "info" %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <div>
            <svg class="bi flex-shrink-0 me-2" width="32" height="32" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
<p>
  <p>These are the Conversion Jobs available to be converted or already converted.  To convert a file press the Convert
    button on the line of the file you wish to convert.  After conversion the Status
    column will show the status of the job.
  <p>
    If the Status field shows "Success" then the job has been completed.  If the Success field shows "False" then
    the job has not been completed.  If the Success field shows "None" then the
    job is still in progress.  If the Error field contains text then there was an
    error with the job.  If the Error field is blank then the job was successful.
  <p>
    Please note the date and time of the job, the input file, the output file,
    and whether the job was successful or not.  If the job was not successful,
    please check the error column for more information.  If you have any
    questions, please contact the administrator.
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Job ID</th>
        <th scope="col">Original File</th>
        <th scope="col">Convert</th>
        <th scope="col">Converted File</th>
        <th scope="col">Status</th>
        <th scope="col">Date Uploaded</th>
        <th scope="col">Date Converted</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    {% for job in all_jobs  %}
    <tr>
      <td>{{ job.id }}</td>
      <td>
        <a href="{{ MEDIA_URL }}{{ job.excel_file }}">{{ job.excel_file.name|slice:"12:"}}</a>
      </td>
      {% if not job.success %}
        <td>
          <a href="{% url 'convert' job.id %}" class="btn btn-primary btn-sm" role="button">
            Convert
          </a>
        </td>
      {% else %}
        <td>
          <button type="button" class="btn btn-success btn-sm" disabled>
            Done
          </button>
        </td>
      {% endif %}
      <td><a href="{{ MEDIA_URL }}{{ job.conv_file }}">{{ job.conv_file.name }}</a></td>
      {% if job.success is 'True' %}
        <td>Completed</td>
      {% elif job.success is 'False' %}
        <td>Failed</td>
      {% else %}
        <td>Ready</td>
      {% endif %}
      <td>{{ job.upload_at }}</td>
      <td>{{ job.conv_at }}</td>
      <td><a href="{% url 'delete' job.id %}" class="btn btn-danger btn-sm" role=buton>Delete</a></td>
    </tr>
    {% endfor %}
  </table>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
      
      {% if all_jobs.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1"><<</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link"><<</a>
        </li>
      {% endif %}
    
      {% if all_jobs.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ all_jobs.previous_page_number }}">{{ all_jobs.previous_page_number }}</a></li>
      {% endif %}
      
      <li class="page-item"><a class="page-link" href="?page={{ all_jobs.number }}">{{ all_jobs.number }}</a></li>
      
      {% if all_jobs.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ all_jobs.next_page_number }}">{{ all_jobs.next_page_number }}</a></li>
      {% endif %}

      {% if all_jobs.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ all_jobs.paginator.num_pages }}">>></a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link">>></a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>

{% endblock %}
